body
	{
	background-color: tan;
	}
h1
    {
     margin-left: 75px;
    }

button
    {
	background: lightblue;
    }

.dealerCards
    {
    position: absolute;
    top: 50px;
    }

.playerCards
    {
    position: absolute;
    top: 220px;
    }

#table
    {
    position: absolute;
    height: 400px;
    width: 400px;
    margin-top: 30px;
    background-image: url(images/cardTable400.jpg);
    }

#choices
    {
    position: absolute;
    top: 520px;
    left: 40px;
    margin: 20px;
    }


.card
{
    transition: all 500ms ease;
}








