body
	{
	background-color: tan;
	}
h1
    {
     margin-left: 75px;
    }

button
    {
	background: lightblue;
    }

.Hand0.first
    {
    position: absolute;
    top: 50px;
    left: 40px;
    }

.Hand1
    {
    position: absolute;
    top: 220px;
    left: 40px;
    }

#table
    {
    position: absolute;
    height: 400px;
    width: 400px;
    margin-top: 30px;
    background-image: url(images/cardTable400.jpg);
    }

#choices
    {
    position: absolute;
    top: 560px;
    left: 40px;
    margin: 20px;
    }

.card
    {
    position: relative;
    margin-left: -36px;
    }

.notFirst
    {
    position: relative;
    margin-left: -36px;
    }








